[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
editdistance = "*"
requests = "*"
beautifulsoup4 = "*"
pillow = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.7"
